<!DOCTYPE html>
<html>
  <head>
    <title>Face search</title>
  </head>
  <body>
    <h1> Face search </h1>
    <div id="playScreen" >
      <h2> Click on the picture and identify the face. </h2>
      <p id="timer"> 00:00</p>
      <div id="containerWaldoSearch">
        <%= image_tag "Waldo_#{@pictureId}", {id: "picWaldoSearch"}  %>
      </div>
      <div id="searchLegend">
        <% @characters.each_with_index do |character, index| %>
          <div id=<%=character.name%> class="itemLegend">
            <%= image_tag "pic#{@pictureId}/#{character.name}", {class: "picLegend"} %>
            <span class="nameLegend"><%="Face " + (index+1).to_s%></span>
          </div>
        <%end%>
      </div>
    </div>

    <div id="formScore" class="invisible" >
      <div class="congrat">
      <b>Congratulations!</b>
      </div>
      <div>
        <div class="congrat">
         Please give your name for the high-score list.
         </div>
      <%= form_for(:player, url: players_path)  do |f|%>
        <%= f.label  :name%>
        <%= f.text_field :name, :required => true %>
        <div> Your time: <span id="timeResult"></span></div>
        <input type="hidden" name="player[score]" id="player_score"/>
        <%= f.submit "Submit", {class: "submitButton"} %>
      <%end%>
    </div>

  <%= content_tag :div, id: "pictureId", data: {pictureId: @pictureId} do %>
  <% end %>
  <%= content_tag :div, id: "characters", data: {characters: @characters} do %>
  <% end %>
  </body>

</html>
