
<!DOCTYPE html>
<html>
  <head>
    <title>Face search</title>
  </head>
  <body>
    <div id=chooseScreen>
    <h1> Face search </h1>
      <h2> Choose a picture for the game! </h2>
        <%= form_tag("/playscreen", method: "get") do %>
        <div>
          <div class="radio">
            <%= radio_button_tag(:pic_id, "1", :checked => true) %>
            <%= label_tag(:pic_id, "Male Faces") %>
          </div>
        </div>
        <div>
          <div class="radio">
            <%= radio_button_tag(:pic_id, "2") %>
            <%= label_tag(:pic_id, "Female Faces") %>
          </div>
        </div>
        <%= submit_tag("Choose picture", {class: "submitButton"}) %>
        <% end %>
        <div class="picBox">
          <%= image_tag "Waldo_1", {class: "picWaldoSmall"}  %>
          <%= image_tag "Waldo_2", {class: "picWaldoSmall"}  %>
        </div>
      </div>
  </body>

</html>
